---
const TITLE = "Now, what about next week's Mrs. Fuguta?";
const DESCRIPTION = `
This is Horikawa. Today, once again on my way home from school. Inside the train, as usual, I observed the people around me.
And then, I spotted Wakame. She was sitting in the next car, smiling through the window. Her smile was so charming and captivating.
I watched her, trying not to be noticed, silently admiring her beauty. Her presence stirred something within me. Why am I so drawn to her?
But how should I express these feelings? My inner darkness is something she could never understand. The clash between my desires and societal norms is overwhelming.
Yet, someday, she will come to know of my existence, and I will leave an impression on her heart as well. I believe in that day, as I continue to gaze upon her. 
`;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{TITLE}</title>
		<meta name="title" content={TITLE} />
		<meta name="description" content={DESCRIPTION} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={TITLE} />
		<meta property="og:description" content={DESCRIPTION} />
		<meta property="og:image" content={Astro.url+"/pixta_101825561_M.webp"} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={TITLE} />
		<meta property="twitter:description" content={DESCRIPTION} />
		<meta property="twitter:image" content={Astro.url+"/pixta_101825561_M.webp"} />
		<!-- Meta Tags Generated with https://metatags.io -->

		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="safari-pinned-tab.svg" color="#a3b866">
		<meta name="msapplication-TileColor" content="#a3b866">
		<meta name="theme-color" content="#a3b866">

		<meta name="google-site-verification" content="9C9uFRAF-Nj-y3pvJXC97Ya8jouzLpjwLiGboTZltgw" />
	</head>
	<body>
		<div id="example-table"></div>
	</body>
</html>

<script>
//@ts-ignore
import {TabulatorFull as Tabulator} from 'tabulator-tables';
import 'tabulator-tables/dist/css/tabulator.css';
import results from '../results.json';

let table = new Tabulator("#example-table", {
    data: results,
	columns: [
		{title: "回", field: "number", sorter: "number"},
		{title: "年", field: "year", sorter: "number"},
		{title: "月", field: "month", sorter: "number"},
		{title: "日", field: "day", sorter: "number"},
		{title: "結果", field: "result", sorter: "string"},
	],
    columnDefaults:{
        width: '20%',
    },
    initialSort:[
        {column:"number", dir:"desc"},
    ],
	maxHeight: '100vh',
});
</script>
